<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- <form action="http://www.google.com/search" method="GET">
    <input type="text" name="q" placeholder="Title">
    <input type="submit" value="Search">
  </form> -->


  <!-- <form action="" method="GET">
    {{ form }}
  </form> -->

  <!-- {{ title }} <br>
  {{ template | safe }} <br>
  {{ dict_1 }} <br>
  {% for i in my_list %}
    {{ i }} <br> <hr>
  {% endfor %}
  {{ my_list }} -->

    <h1>Home Page</h1>
</body>
</html>